spring:

  mail:
    host: smtp.gmail.com
    port: 587
    default-encoding: UTF-8
    username: ${gmail_username}
    password: ${gmail_password}
    properties:
      mail:
        smtp:
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
          auth: true
          starttls:
            enable: true
            required: true
  #          ssl: # port = 465
  #            trust: smtp.gmail.com
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mehna
    username: root
    password: MyNewPass!@$$#@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: 'create-drop'
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      database: 0
      host: localhost
      port: 8099
      repositories:
        enabled: false



  cache:
    type: REDIS


  application:
    name: auth-system

server:
  port: 8055


logging:
  level:
    org:
      hibernate:
        type: trace
        stat: debug
      springframework:
        security: debug

application:
  security:
    jwt:
      expiration:
        access-token: 900000 # 15 mins
        refresh-token: 432000000 # 5 days


twilio:










