spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/mehna
    username: root
    password: MyNewPass!@$$#@
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: localhost
      port: 8099
      repositories:
        enabled: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${gmail_username}
    password: ${gmail_password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com


  cache:
    type: REDIS


  application:
    name: auth-system

server:
  port: 8055


logging:
  level:
    org:
      hibernate:
        type: trace
        stat: debug


application:
  security:
    jwt:
      expiration:
        access-token: 900000 # 15 mins
        refresh-token: 432000000 # 5 days



#  spring.mail.host=smtp.gmail.com
#  spring.mail.port=587
#  spring.mail.username=your-email@gmail.com
#  spring.mail.password=your-app-password
#  spring.mail.properties.mail.smtp.auth=true
#  spring.mail.properties.mail.smtp.starttls.enable=true
#  spring.mail.properties.mail.smtp.starttls.required=true
#  spring.mail.properties.mail.smtp.ssl.trust=smtp.gmail.com









